<div id='user-regis'>
	<div class="user-regis">
	  <div class="container-fluid" id="custom_height_100">
	    <div class="row" id="custom_height_100">
	      <div class="col-md-3 p-0" id="visible-sm-down">
	        <div class="title">
	          <span class="icon-package-timing custom-icon"></span>
	          <h1 class="description">THE STRAITSTIMES</h1>
	        </div>
	      </div>

	      <div class="col-md-9 text-center">
	      	<div class="pt-3">
		        <h4><b>Welcome to BigQuiz</b></h4>
		        <%= render 'form' %>
		      </div>
	      </div>
	    </div> 
	  </div>
	</div>
</div>